@import 'animate.css/animate.css'
@import 'mixins/materialcolor.styl'

// variables!

body_color = #fff
body_selection = #7fbd42
body_background = peterriver

// base

body
  font-family: helvetica, arial, sans-serif
  font-size: 18px
  color: body_color
  background-color: body_background

::selection
   background-color: body_selection
   color: body_color

.imgs-container
  white-space nowrap
  width 100%
  height 100%
  position relative
.fly
  position absolute
  width 50%
  height 50%
.svg
  &-html  
    top 30px
    left 10px
  &-css
    top 10px
    left 70px
  &-field
    width 100%
    height 100%
ul
  list-style: none

li
  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: a_color
  text-decoration: none

main
  width: 50%
  height 50%
  margin: auto
  padding-left: 75px
