balloon_position(size,num)
  height size
  width size
  z-index num
  
flex_order(mgin,wth,jcont,alicont,alitm,wraper)
    margin mgin
    width wth
    display flex
    justify-content jcont
    align-content alicont
    align-items alitm
    flex-wrap wraper
anim_delay(time)
  animation-delay time
anim_name(name,dur,dir,itera)
  animation-name name
  animation-duration dur
  animation-direction dir
  animation-iteration-count itera  
text_urls(text, color)
  &:before
    content text
    color rgba(color,0.7)
  &:focus, &:hover
    color color
    font-size 1.3em