balloon_position(size,num)
  height size
  width size
  z-index num
  
flex_order(mgin,wth,jcont,alicont,alitm,wraper)
    margin mgin
    width wth
    display flex
    justify-content jcont
    align-content alicont
    align-items alitm
    flex-wrap wraper
anim_delay(time)
  animation-delay time