* {
  box-sizing: border-box;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

body {
  font-family: 'Poppins', 'Open Sans', sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit
}

#root {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}
