<img src="img/perfil.jpg" class="avatar animated flip"/><img src="img/muelle2.svg" class="field"/>
<div class="profile-entrie">
  <h1 class="profile-name animated bounce">Erifranck Nuñez</h1>
</div><span class="profile-jobs">
  <p class="profile-job">Desarrollador Frontend</p>
  <p class="profile-job">Diseñador UI/UX</p>
  <p class="profile-job">Ilustrador</p></span>
<div class="balloon balloon-html move_flying">
  <div class="move_zoom">
    <div class="move_x2">
      <div class="move_y"><img src="img/globoHTML.svg" class="balloon-float fly"/></div>
    </div>
  </div>
</div>
<div class="balloon balloon-css">
  <div class="move_zoom">
    <div class="move_x3">
      <div class="move_y"><img src="img/globoCSS.svg" class="balloon-float fly"/></div>
    </div>
  </div>
</div>
<div class="balloon balloon-js">
  <div class="move_zoom">
    <div class="move_x">
      <div class="move_y"><img src="img/globoJS.svg" class="balloon-float fly"/></div>
    </div>
  </div>
</div>