doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(meta name="description" content="")
    meta(name="author" content="")
    title Erifranck Nuñez Frontend Developer
    link(href="css/style.css" rel="stylesheet")
  body
    .container
      .profile-container
        img.avatar.animated.flip(src="img/perfil.jpg")
        img.field(src="img/muelle2.svg")
        .profile-entrie
          h1.profile-name.animated.bounce Erifranck Nuñez
        span.profile-jobs
          p.profile-job Desarrollador Frontend
          p.profile-job Diseñador UI/UX
          p.profile-job Ilustrador
        img.balloon.balloon-html.animated.fly(src="img/globoHTML.svg")
        img.balloon.balloon-css(src="img/globoCSS.svg")
        img.balloon.balloon-js(src="img/globoJS.svg")
      nav.url-container
        ul.url-list
          each i in ['aboutme','skills','experience','contact']
            li.url-navigation
              a(href='##{i}' class='#{i} url')
      .btn-social

    script(src='js/main.js')
