doctype html
html(ng-app="landing_page")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(meta name="description" content="")
    meta(name="author" content="")
    title Erifranck Nuñez Frontend Developer
    link(href="css/style.css" rel="stylesheet")
  body
    .container
      .view-animate-container.profile-container
        .view-animate.bg-size(ng-view="")
      nav.url-container
        ul.url-list
          each i in ['aboutme','skills','experience','contact']
            li.url-navigation
              a(ng-ref='#/#{i}' class='#{i} url')
      .btn-social

    script(src='js/main.js')
